---
import LogLayout from '../../layouts/LogLayout.astro';
import NotionBlock from '@components/NotionBlock.astro';
import { queryDatabase } from '../../notion';

export async function getStaticPaths() {
    // retrieve content from database notion
    const result = await queryDatabase();
    return result.map((logPost) => ({
        params: {
            log: logPost.slug,
        },
        props: logPost,
    }));
}

const { title, children } = Astro.props;
---
<LogLayout title={title}>
    <h1>{title}</h1>
    <section>
        {children.map((c => <NotionBlock block={c} />))}
    </section>
</LogLayout>