* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);

	--color-blackish: #485163;
	--color-mint: #4FB286;
	--color-lightcyan: #D7F9F1;
	--color-xanthic: #F2F230;
	--color-russianviolet: #20063B;

}

body {
	padding: 60px;
}

a {
	color: var(--color-blackish);
}

@media (prefers-color-scheme: dark) {
	body {
		background: var(--color-blackish);
		color: #fff;
	}
}

.page-title {
	font-size: 26px;
	display: inline-block;
	min-width: 220px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}