---
import BaseLayout from '@layouts/BaseLayout.astro';
import '../styles/bio.css';
---
<BaseLayout>
    <div class="bio">
        <aside>
            <section class="bio-section">
                <h2 class="section-title">Contact</h2>
                <ul class="list-unstyled">
                    <li><a href="mailto:hi@tijmenbruggeman.com">hi@tijmenbruggeman.com</a></li>
                    <li>Wierden, NL</li>
                    <li><a href="https://tijmenbruggeman.com">tijmenbruggeman.com</a></li>
                </ul>
            </section>
            <section class="bio-section">
                <h2 class="section-title">Education</h2>
                <div class="education">
                    <strong>Human Information Design & Strategy</strong>
                    <span>Saxion 2008 - 2012</span>
                </div>
                <div class="education">
                    <strong>Honours Programme Saxion</strong>
                    <span>Saxion 2009 - 2012</span>
                </div>
            </section>
        </aside>
        <article>
            <section class="bio-section">
                <h2 class="section-title">Experience</h2>
                <div class="experience">
                    <strong>Print.com</strong>
                    <span>Chief Technology Officer</span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
                    <ul class="skill-list">
                        <li>Vue</li>
                        <li>AWS</li>
                        <li>Node</li>
                        <li>Serverless</li>
                        <li>GoLang</li>
                    </ul>
                </div>
                <div class="experience">
                    <strong>WCreate</strong>
                    <span>Freelance Development</span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
                    <ul class="skill-list">
                        <li>WordPress</li>
                        <li>Laravel</li>
                    </ul>
                </div>
                <div class="experience">
                    <strong>Topicus Findesk</strong>
                    <span>Software Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
                    <ul class="skill-list">
                        <li>.NET</li>
                        <li>Azure</li>
                    </ul>
                </div>
            </section>
        </article>
    </div>
</BaseLayout>