---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout>
<article>
    <section class="intro">
        <h1 class="page-title">Tijmen is the name, software is the game.</h1>
        <p>Want to have a 'bit of a background info? Your at the right page. Want to know more about the work I made? Check it out here.</p>
    </section>
    <section>
        <ul>
            <li>Topicus</li>
            <li>WCreate</li>
            <li>Print.com</li>
        </ul>
    </section>

    <section>
        <ul>
            <li>Vue</li>
            <li>React</li>
            <li>Wordpress</li>
            <li>Laravel</li>
            <li>React</li>
            <li>NextJS</li>
            <li>AWS</li>
            <li>Netlify</li>
            <li>NodeJS</li>
            <li>Serverless</li>
            <li>Golang</li>
            <li>.NET</li>
        </ul>
    </section>
</article>
</BaseLayout>