---
import { AboutMe } from '../content/AboutMe.md';
import { Currently } from '../content/Currently.md';
import '../styles/global.css';
import '../styles/home.css';
let title = 'Home';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
		}
		.site-title {
			font-size: 38px;
			text-transform: uppercase;
			font-weight: 800;
			margin: 0;
			line-height: 38px;
			letter-spacing: 0.2;
			text-align: center;
		}
		.site-subtitle {
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 9px;
			text-align: center;
			padding-left: 11px;
			opacity: 0.5;
		}
		.nav {
			list-style: none;
			padding: 0;
			display: flex;
			justify-content: center;
		}
		a {
			display: inline-block;
			padding: 20px;
			text-decoration: none;
			font-size: 18px;
			text-transform: lowercase;
		}
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
	<main>
		<header>
			<h1 class="site-title">Tijmen Bruggeman</h1>
			<strong class="site-subtitle">Creative Developer</strong>
			<nav>
				<ul class="nav">
					<li><a href="/work">Work</a></li>
					<li><a href="/logs">Logs</a></li>
				</ul>
			</nav>
		</header>

		<article>
			<div class="banner">
					<Currently />
			</div>
			<div class="columns">
				<div class="column">
					<AboutMe />
				</div>
			</div>
		</article>
	</main>
</body>
</html>
