---
import MainHead from '@/components/MainHead.astro';
import NotionPage from '@/components/NotionBlocks/NotionPage.astro';
---
<html lang="en">
  <head>
    <MainHead title="Tijmen Bruggeman: Creative Developer" description="Tijmen Bruggeman: " />
   <style>
    </style>
  </head>
  <body>
    <NotionPage pageId="7d0f3104-8c76-4881-a1e6-df6c8684530d"  />
  </body>
</html>
