---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Content as Currently } from '@content/Currently.md';
import '../styles/home.css';
---
<BaseLayout>
	<div class="banner">
		<Currently />
	</div>
</BaseLayout>