---
import BaseLayout from '@layouts/BaseLayout.astro';
import { queryDatabase } from '../notion';
const result = await queryDatabase();
const logPosts = result.map(({ slug, ...rest }) => ({
    slug,
	...rest,
}));
---
<style>
a {
    max-width: 620px;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 220ms;
}
.loglink {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.loglink_date {
    color: var(--color-grayish);
}
</style>
<BaseLayout>
<h1 class="page-title">Logs</h1>
<ul class="unstyled">
    {logPosts.map(({ slug, title, updatedAt }) => (<li>
        <a href={`logs/${slug}`} class="loglink">
            <span>{title}</span>
            <span class="loglink_date">{updatedAt}</span>
        </a>
    </li>))}
</ul>
</BaseLayout>