---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout>
<h1 class="page-title">Work</h1>
<p>Over the years I've built a lot of things. Most of my work went into websites, software but I also did small branding projects. I'm proud (of most of them) and learned a lot by doing it. Check out the gallery below for more.</p>
</BaseLayout>