---
import { notion } from '../modules/notion';
import NotionText from '@/components/NotionBlocks/NotionText.astro';

const { pageId } = Astro.props;

const result = await notion.pages.retrieve({
  page_id: pageId,
});
const { title: titleProp } = result.properties;
const [title] = titleProp.title;
---

<main>
  <h1>
    <NotionText block={title} />
  </h1>
</main>