---
import LogLayout from '../../layouts/LogLayout.astro';
import NotionBlock from '@components/NotionBlock.astro';
import { queryDatabase } from '../../notion';

export async function getStaticPaths() {
    // retrieve content from database notion
    const projects = await queryDatabase('aebbf2a7cfef42f39c7a05f7107ecb89');
    return projects.map((project) => ({
        params: {
            work: project.slug,
        },
        props: project,
    }));
}

const { title, children } = Astro.props;
---
<LogLayout title={title}>
    <h1 class="page-title">{title}</h1>
    <section class="page-content">
        {children.map((c => <NotionBlock block={c} />))}
    </section>
</LogLayout>