---
    import NotionText from '@/components/NotionBlocks/NotionText.astro';
    const { title: titleProp } = Astro.props;
    const [title] = titleProp.title;
---
<h1><NotionText block={title} /></h1>