---
import NotionColumn from '@/components/NotionBlocks/NotionColumn.astro';
import data from 'data';
const { block } = Astro.props
console.log('block:', block)
const columns = data.filter(({ parentId }) => parentId === block.id);
console.log('columns:', columns)
---
<div class="notion-columnlist">
    {columns.map(c => <NotionColumn block={c} />)}
</div>