---
import NotionTitle from '@/components/NotionBlocks/NotionTitle.astro';
import NotionCover from '@/components/NotionBlocks/NotionCover.astro';
import NotionBlock from '@/components/NotionBlocks/NotionBlock.astro';
import data from 'data';
const { pageId: pageUUID } = Astro.props;
const pageId = pageUUID.replaceAll('-', '');

const page = data.find(d => d.id === pageUUID);
const pageTitle = page.properties.title;
const pageBlocks = data.filter(d => d.parentId === pageId);
---

<main>
  {page.cover && <NotionCover cover={page.cover} />}
  <NotionTitle title={pageTitle} />
  {pageBlocks.map(b => <NotionBlock block={b} />)}
</main>