---
import NotionText from '@/components/NotionBlocks/NotionText.astro';

const { block } = Astro.props;
---
<style>
.notion-callout {
    background: #dfdfdf;
    border-radius: 10px;
    padding: 30px;
    max-width: 550px;
}
</style>
<div class="notion-callout">
    {block.callout.text.map(t => <NotionText block={t} />)}
</div>