---
import NotionTitle from '@/components/NotionBlocks/NotionTitle.astro';
import NotionCover from '@/components/NotionBlocks/NotionCover.astro';
import NotionBlock from '@/components/NotionBlocks/NotionBlock.astro';
import { notion } from '../../modules/notion';

const { pageId } = Astro.props;

const [page, pageBlocksResult] = await Promise.all([
  notion.pages.retrieve({
    page_id: pageId,
  }),
  notion.blocks.children.list({
    block_id: pageId,
  }),
]);
const { title } = page.properties;
const { results: blocks } = pageBlocksResult;
---

<main>
  <NotionCover cover={page.cover} />
  <NotionTitle title={title} />
  {blocks.map(b => <NotionBlock block={b} />)}
</main>