---
import MainHead from '@/components/MainHead.astro';
import NotionPage from '@/components/NotionBlocks/NotionPage.astro';
import urlSlug from 'url-slug';
import notioncontent from '../../../notioncontent.json';

export async function getStaticPaths() {
  return childPages.map((page) => {
      const slug = urlSlug(page.child_page.title);
      return {
        params: {
            slug,
        },
        props: {
            page,
        }
      }
  });
}
const {slug} = Astro.request.params;
const {page} = Astro.props;
---
<html lang="en">
  <head>
    <MainHead title="Tijmen Bruggeman: Creative Developer" description="Tijmen Bruggeman: " />
   <style>
    </style>
  </head>
  <body>
    <NotionPage pageId={page.id}  />
  </body>
</html>
